:root {
	--default: black;
}

body {
	background-color: black;
	overflow: hidden;
	user-select: none;
	margin: 0px;
}

#popup {
	
	position: absolute;
    transform-origin: center;
    width: 10em;
    height: 12em;
    background: white;
    border: solid white 3px;
	transition: 0.2s;
	filter: drop-shadow(0px 0px 3px white);
	scale: 0;
	
}

#sppopup {
	
	position: absolute;
    transform-origin: center;
    width: 35em;
    height: 12em;
    background: white;
    border: solid white 3px;
    transition: 0.2s;
    filter: drop-shadow(0px 0px 3px white);
    scale: 1;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
	animation: introin 0.5s;
	
}

.popuptop {
	
	border-bottom: solid white 3px;
    color: white;
    padding: 7px 5px;
    background: #3c3c3c;
	font-family: monospace;
	
}

.popupafter {
	
	pointer-events: none;
    position: absolute;
    font-family: monospace;
    font-size: 20px;
    font-weight: 900;
    color: white;
    top: 3px;
    right: 0px;
    text-align: right;
    padding-right: 6px;
	
}

.imageholder {
	
	position: relative;
    background: url(imgs/ad1.png);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
	
}

.scorecounter {
	
	position: absolute;
    color: gold;
    font-size: 25px;
    font-weight: 900;
    font-family: monospace;
    top: 1em;
    left: 1em;
	
}

.hscorecounter {
	
	position: absolute;
    color: gold;
    font-size: 25px;
    font-weight: 900;
    font-family: monospace;
    top: 2em;
    left: 1em;
}

.animated {
	animation: blink 0.5s ease-out;
}

@keyframes blink {
	0% {color: gold;}
	50% {color: lime;}
	100% {color: gold;}
}

.introtext {
	
	color: black;
    font-size: 1.6em;
    margin: 5px;
    font-family: monospace;
    font-weight: 900;
	scale: 1;
	
}

@keyframes introin {
	from {scale: 0;}
	to {scale: 1;}
}